.quadradao{
    width: 510px;
    height: 510px;
    float: left;
    background-color: orangered;
    margin: 10px ;
    display: inline;
  }
  
  
  .quadrado{
    width: 162px;
    height: 162px;
    border: 2px solid ;
    border-color: black;
    text-align: center ;
    padding: 2px;
    float: left;
    cursor: pointer;
    font-size: 120px;
  }
  
  body{
    background-color: whitesmoke;
  }