body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul { 
    padding-bottom: 30px;
}

.caixinha:after {
    clear: both;
    content : "";
    display : table;
}

.status {
    margin-bottom: 10px;
}

.quadrado {
    background: orangered;
    border: 2px solid black;
    float: left;
    font-size: 100px;
    font-weight: bold;
    line-height: 34px;
    height: 150px;
    /*margin-right: -1px;
    margin-top: -1px;*/
    padding: 0;
    text-align: center;
    width: 152px;
}

.quadrado:focus{
    outline: none;
}

.kbd-navigation .quadrado:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.info-jogo {
    margin-left: 20px;
}
